
body{
  background-color: lightgrey;
  margin: 60px;
}

.app-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-container{
  background-color: white;
  width: 400px;
  margin: 15px auto;
  
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px grey;
  
}
.progressbar{
  background-color: rgb(99, 1, 204);
  height: 20px;
  max-width: 380px;
  border-radius: 100px;
  margin: 8px;
}


input {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid grey;
  margin-left: 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer{
  margin: 40px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

button {
  background-color: rgb(99, 1, 204);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 1000px;
  cursor: pointer
}

button:hover{
  background-color: rgba(99, 1, 204,.8)
  
}

.summary{
  text-align: left;
  background-color: white;
  width: 400px;
  margin: 15px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px grey;
}

@media only screen and (max-width: 769px) {
  .summary {
    display: none;
  }
  .form-container{
    width: 100%;
  }
  button{
    font-size: .8em;
  }
  .btn-summary{
    display: block;
  }
 
}
.summary-fields{
  padding: 0;
  margin: 4px;
  font-weight: 700;
}

.summary-data{
  font-weight: 400;
}

.checkbox{
  text-align: left;
  margin-left: 15%;
}

.radio{
  text-align: left;
  margin-left: 25%;
}

.btn-summary {
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  /* position: fixed; */
  /* display: none; */

}