.progressbar{
  background-color: black;
  height: 10px
}


input {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid grey;
  margin-left: 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: rgb(99, 1, 204);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 1000px;
  cursor: pointer
}

button:hover{
  background-color: rgba(99, 1, 204,.8)
  
}

.summary{
  text-align: left;
}
.summary-fields{
  padding: 0;
  margin: 4px;
  font-weight: 700;
}

.summary-data{
  font-weight: 400;
}